.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-item:nth-child(n + 2) {
  margin-left: 8px;
}

.btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px;
  border: none;
  display: inline-block;
  transition-property: background, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover,
.btn:focus {
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.work-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: #212121;
}

.work-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.work-list {
  display: flex;
  flex-wrap: wrap;
}

.work-item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - var(--margin)) / 3);
}
.work-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.work-item:nth-child(-n + 3) {
  margin-top: 0px;
}
.work-item:nth-child(3n + 1) {
  margin-left: 0px;
}
.work-name {
  padding: 20px 24px;
  background: #ffffff;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.link-hover {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link-hover:hover,
.link-hover:focus {
  box-shadow: 1px 4px 8px 1px #00000029;
  box-shadow: 0px 4px 6px 1px #0000000f;
  box-shadow: 0px 1px 2px 1px #0000001f;
}
.work-cover-wrap {
  position: relative;
  overflow: hidden;
}
.work-cover-text {
  position: absolute;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  height: 100%;
  padding: 63px 24px;
  top: 0;
  left: 0;
  letter-spacing: 0.03em;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.work-item:hover .work-cover-text {
  transform: translateY(0);
}
