.photo-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}
.photo-list {
  display: flex;
  justify-content: center;
}
.photo-item:nth-child(n + 2) {
  margin-left: 30px;
}

.section-about {
  padding-bottom: 0px;
}

.photo-cover-wrap {
  position: relative;
}

.photo-cover-text {
  display: inline;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  padding: 27px 83px;
  text-align: center;
  letter-spacing: 0.03em;
  white-space: nowrap;
}
