*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: Roboto, sans-serif;
  color: #212121;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
  padding-left: 0px;
}
